.buttonPad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttonPad div{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
}
.buttonPad div div {
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    margin: 10px 0;

}